// Imports
@import '../../theme/colours';

.tile {
	position: relative;
	transition-duration: 0.2s;

	&.light {

	}

	&.dark {
		background: transparentize($black, 0.9);
	}

	&:hover {
		box-shadow: inset 0 0 10px $tileHover;
	}

	&.active {
		.inner {
			border: 2px solid $tileActive;
		}
	}

	.inner {
		border: 2px solid transparent;
		position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
	}
}

